.msg {
    position: fixed;
    width: 450px;
    top: 75px;
    left: calc(50% - 225px);
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    height: 40px;
    align-items: center;
}
